<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Suit-Up Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  </head>
  <body>
    <div class="" ng-controller="statusController">
      <button class="btn" ng-click="suitup()">Suit-Up</button>
      <button class="btn" ng-click="party()">Party</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/suit.js"></script>
  </body>
</html>
