<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Suit-Up Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
    html, body {
        height: 100%;
        width: 100%;
    }
      h1 {
          font-size: 6em;
          text-align: center;
          margin: 160px auto;
      }
      
      div.container {
          height: 100%;
      }
    </style>
    <script>
      function statusController($scope) {
        var socket = io.connect();

        $scope.name = '';
        $scope.color = 'ffffff';

        socket.on('connect', function () {
          console.log("Client connected.")
        });

        socket.on('message', function (msg) {
          $scope.color = msg.text;
          console.log("Received: " + $scope.color);
          $("body").css("background-color", $scope.color);
          $scope.$apply();
        });

        $scope.suitup = function send() {
          console.log('Suit-Up');
          socket.emit('message', '#000000');
        };

        $scope.party = function send() {
          // TODO: Calculate color based on name, maybe
          var color = 'rgb(241, 51, 218)';
          console.log('Party: ', color);
          socket.emit('message', color);
        };
        
      }
    </script>
  </head>
  <body>
    <div class="" ng-controller="statusController">
      <button class="btn" ng-click="suitup()">Suit-Up</button>
      <button class="btn" ng-click="party()">Party</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
